<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gpkg_data_columns</key>
	<array>
		<string>CREATE TABLE gpkg_data_columns (
  table_name TEXT NOT NULL,
  column_name TEXT NOT NULL,
  name TEXT,
  title TEXT,
  description TEXT,
  mime_type TEXT,
  constraint_name TEXT,
  CONSTRAINT pk_gdc PRIMARY KEY (table_name, column_name),
  CONSTRAINT gdc_tn UNIQUE (table_name, name)
);</string>
	</array>
	<key>gpkg_data_column_constraints</key>
	<array>
		<string>CREATE TABLE gpkg_data_column_constraints (
  constraint_name TEXT NOT NULL,
  constraint_type TEXT NOT NULL, /* &apos;range&apos; | &apos;enum&apos; | &apos;glob&apos; */
  value TEXT,
  min NUMERIC,
  min_is_inclusive BOOLEAN, /* 0 = false, 1 = true */
  max NUMERIC,
  max_is_inclusive BOOLEAN, /* 0 = false, 1 = true */
  description TEXT,
  CONSTRAINT gdcc_ntv UNIQUE (constraint_name, constraint_type, value)
);</string>
	</array>
	<key>gpkg_metadata</key>
	<array>
		<string>CREATE TABLE gpkg_metadata (
  id INTEGER CONSTRAINT m_pk PRIMARY KEY AUTOINCREMENT NOT NULL,
  md_scope TEXT NOT NULL DEFAULT &apos;dataset&apos;,
  md_standard_uri TEXT NOT NULL,
  mime_type TEXT NOT NULL DEFAULT &apos;text/xml&apos;,
  metadata TEXT NOT NULL DEFAULT &apos;&apos;
);</string>
	</array>
	<key>gpkg_metadata_reference</key>
	<array>
		<string>CREATE TABLE gpkg_metadata_reference (
  reference_scope TEXT NOT NULL,
  table_name TEXT,
  column_name TEXT,
  row_id_value INTEGER,
  timestamp DATETIME NOT NULL DEFAULT (strftime(&apos;%Y-%m-%dT%H:%M:%fZ&apos;,&apos;now&apos;)),
  md_file_id INTEGER NOT NULL,
  md_parent_id INTEGER,
  CONSTRAINT crmr_mfi_fk FOREIGN KEY (md_file_id) REFERENCES gpkg_metadata(id),
  CONSTRAINT crmr_mpi_fk FOREIGN KEY (md_parent_id) REFERENCES gpkg_metadata(id)
);</string>
	</array>
	<key>gpkg_2d_gridded_coverage_ancillary</key>
	<array>
		<string>CREATE TABLE &apos;gpkg_2d_gridded_coverage_ancillary&apos; (
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  tile_matrix_set_name TEXT NOT NULL UNIQUE,
  datatype TEXT NOT NULL DEFAULT &apos;integer&apos;,
  scale REAL NOT NULL DEFAULT 1.0,
  offset REAL NOT NULL DEFAULT 0.0,
  precision REAL DEFAULT 1.0,
  data_null REAL,
  grid_cell_encoding TEXT DEFAULT &apos;grid-value-is-center&apos;,
  uom TEXT,
  field_name TEXT DEFAULT &apos;Height&apos;,
  quantity_definition TEXT DEFAULT &apos;Height&apos;,
  CONSTRAINT fk_g2dgtct_name FOREIGN KEY(&apos;tile_matrix_set_name&apos;) REFERENCES gpkg_tile_matrix_set (table_name),
  CHECK (datatype in (&apos;integer&apos;,&apos;float&apos;))
);</string>
	</array>
	<key>gpkg_2d_gridded_tile_ancillary</key>
	<array>
		<string>CREATE TABLE gpkg_2d_gridded_tile_ancillary (
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  tpudt_name TEXT NOT NULL,
  tpudt_id INTEGER NOT NULL,
  scale REAL NOT NULL DEFAULT 1.0,
  offset REAL NOT NULL DEFAULT 0.0,
  min REAL DEFAULT NULL,
  max REAL DEFAULT NULL,
  mean REAL DEFAULT NULL,
  std_dev REAL DEFAULT NULL,
  CONSTRAINT fk_g2dgtat_name FOREIGN KEY (tpudt_name) REFERENCES gpkg_contents(table_name),
  UNIQUE (tpudt_name, tpudt_id)
);</string>
	</array>
	<key>gpkgext_relations</key>
	<array>
		<string>CREATE TABLE &apos;gpkgext_relations&apos; (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  base_table_name TEXT NOT NULL,
  base_primary_column TEXT NOT NULL DEFAULT &apos;id&apos;,
  related_table_name TEXT NOT NULL,
  related_primary_column TEXT NOT NULL DEFAULT &apos;id&apos;,
  relation_name TEXT NOT NULL,
  mapping_table_name TEXT NOT NULL UNIQUE
 );</string>
	</array>
</dict>
</plist>
