<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geopackage.dir.geopackage</key>
	<string>geopackage</string>
	<key>geopackage.dir.geopackage.database</key>
	<string>db</string>
	<key>geopackage.dir.geopackage.metadata</key>
	<string>metadata</string>
	<key>geopackage.dir.geopackage.metadata.file.db</key>
	<string>geopackage_metadata.db</string>
	<key>geopackage.extensions.geometry_index</key>
	<string>http://ngageoint.github.io/GeoPackage/docs/extensions/geometry-index.html</string>
	<key>geopackage.srs.wgs84.srs_name</key>
	<string>WGS 84 geodetic</string>
	<key>geopackage.srs.wgs84.srs_id</key>
	<string>4326</string>
	<key>geopackage.srs.wgs84.organization</key>
	<string>EPSG</string>
	<key>geopackage.srs.wgs84.organization_coordsys_id</key>
	<string>4326</string>
	<key>geopackage.srs.wgs84.definition</key>
	<string>GEOGCS[&quot;WGS 84&quot;,DATUM[&quot;WGS_1984&quot;,SPHEROID[&quot;WGS 84&quot;,6378137,298.257223563,AUTHORITY[&quot;EPSG&quot;,&quot;7030&quot;]],AUTHORITY[&quot;EPSG&quot;,&quot;6326&quot;]],PRIMEM[&quot;Greenwich&quot;,0,AUTHORITY[&quot;EPSG&quot;,&quot;8901&quot;]],UNIT[&quot;degree&quot;,0.0174532925199433,AUTHORITY[&quot;EPSG&quot;,&quot;9122&quot;]],AUTHORITY[&quot;EPSG&quot;,&quot;4326\u201D]]</string>
	<key>geopackage.srs.wgs84.description</key>
	<string>longitude/latitude coordinates in decimal degrees on the WGS 84 spheroid</string>
	<key>geopackage.srs.undefined_cartesian.srs_name</key>
	<string>Undefined cartesian SRS</string>
	<key>geopackage.srs.undefined_cartesian.srs_id</key>
	<string>-1</string>
	<key>geopackage.srs.undefined_cartesian.organization</key>
	<string>NONE</string>
	<key>geopackage.srs.undefined_cartesian.organization_coordsys_id</key>
	<string>-1</string>
	<key>geopackage.srs.undefined_cartesian.definition</key>
	<string>undefined</string>
	<key>geopackage.srs.undefined_cartesian.description</key>
	<string>undefined cartesian coordinate reference system</string>
	<key>geopackage.srs.undefined_geographic.srs_name</key>
	<string>Undefined geographic SRS</string>
	<key>geopackage.srs.undefined_geographic.srs_id</key>
	<string>0</string>
	<key>geopackage.srs.undefined_geographic.organization</key>
	<string>NONE</string>
	<key>geopackage.srs.undefined_geographic.organization_coordsys_id</key>
	<string>0</string>
	<key>geopackage.srs.undefined_geographic.definition</key>
	<string>undefined</string>
	<key>geopackage.srs.undefined_geographic.description</key>
	<string>undefined geographic coordinate reference system</string>
	<key>geopackage.srs.web_mercator.srs_name</key>
	<string>WGS 84 / Pseudo-Mercator</string>
	<key>geopackage.srs.web_mercator.srs_id</key>
	<string>3857</string>
	<key>geopackage.srs.web_mercator.organization</key>
	<string>EPSG</string>
	<key>geopackage.srs.web_mercator.organization_coordsys_id</key>
	<string>3857</string>
	<key>geopackage.srs.web_mercator.definition</key>
	<string>PROJCS[&quot;WGS 84 / Pseudo-Mercator&quot;,GEOGCS[&quot;Popular Visualisation CRS&quot;,DATUM[&quot;Popular_Visualisation_Datum&quot;,SPHEROID[&quot;Popular Visualisation Sphere&quot;,6378137,0,AUTHORITY[&quot;EPSG&quot;,&quot;7059&quot;]],TOWGS84[0,0,0,0,0,0,0],AUTHORITY[&quot;EPSG&quot;,&quot;6055&quot;]],PRIMEM[&quot;Greenwich&quot;,0,AUTHORITY[&quot;EPSG&quot;,&quot;8901&quot;]],UNIT[&quot;degree&quot;,0.01745329251994328,AUTHORITY[&quot;EPSG&quot;,&quot;9122&quot;]],AUTHORITY[&quot;EPSG&quot;,&quot;4055&quot;]],UNIT[&quot;metre&quot;,1,AUTHORITY[&quot;EPSG&quot;,&quot;9001&quot;]],PROJECTION[&quot;Mercator_1SP&quot;],PARAMETER[&quot;central_meridian&quot;,0],PARAMETER[&quot;scale_factor&quot;,1],PARAMETER[&quot;false_easting&quot;,0],PARAMETER[&quot;false_northing&quot;,0],AUTHORITY[&quot;EPSG&quot;,&quot;3785&quot;],AXIS[&quot;X&quot;,EAST],AXIS[&quot;Y&quot;,NORTH]]</string>
	<key>geopackage.srs.web_mercator.description</key>
	<string>Spherical Mercator projection coordinate system</string>
	<key>geopackage.tile_generator.variable.z</key>
	<string>{z}</string>
	<key>geopackage.tile_generator.variable.x</key>
	<string>{x}</string>
	<key>geopackage.tile_generator.variable.y</key>
	<string>{y}</string>
	<key>geopackage.tile_generator.variable.min_lat</key>
	<string>{minLat}</string>
	<key>geopackage.tile_generator.variable.max_lat</key>
	<string>{maxLat}</string>
	<key>geopackage.tile_generator.variable.min_lon</key>
	<string>{minLon}</string>
	<key>geopackage.tile_generator.variable.max_lon</key>
	<string>{maxLon}</string>
	<key>geopackage.feature_tiles.width</key>
	<string>256</string>
	<key>geopackage.feature_tiles.height</key>
	<string>256</string>
	<key>geopackage.feature_tiles.compress_format</key>
	<string>PNG</string>
	<key>geopackage.feature_tiles.point_radius</key>
	<string>4.0</string>
	<key>geopackage.feature_tiles.line_stroke_width</key>
	<string>2.0</string>
	<key>geopackage.feature_tiles.polygon_stroke_width</key>
	<string>2.0</string>
	<key>geopackage.feature_tiles.polygon_fill</key>
	<string>false</string>
	<key>geopackage.datetime.formats</key>
	<array>
		<string>yyyy-MM-dd&apos;T&apos;HH:mm:ss&apos;Z&apos;</string>
		<string>yyyy-MM-dd&apos;T&apos;HH:mm:ss.SSS&apos;Z&apos;</string>
		<string>yyyy-MM-dd&apos;T&apos;HH:mm:ss</string>
		<string>yyyy-MM-dd&apos;T&apos;HH:mm:ss.SSS</string>
		<string>yyyy-MM-dd HH:mm:ss</string>
		<string>yyyy-MM-dd HH:mm:ss.SSS</string>
	</array>
	<key>geopackage.feature_overlay_query.screen_click_percentage</key>
	<string>.03</string>
	<key>geopackage.feature_overlay_query.max_features_info</key>
	<string>true</string>
	<key>geopackage.feature_overlay_query.features_info</key>
	<string>true</string>
	<key>geopackage.feature_overlay_query.max_point_detailed_info</key>
	<string>10</string>
	<key>geopackage.feature_overlay_query.max_feature_detailed_info</key>
	<string>10</string>
	<key>geopackage.feature_overlay_query.detailed_info_print_points</key>
	<string>true</string>
	<key>geopackage.feature_overlay_query.detailed_info_print_features</key>
	<string>false</string>
	<key>geopackage.max_zoom_level</key>
	<string>22</string>
	<key>geopackage.connection_pool.open_connections_per_pool</key>
	<string>10</string>
	<key>geopackage.connection_pool.check_connections</key>
	<string>true</string>
	<key>geopackage.connection_pool.check_connections_frequency</key>
	<string>120</string>
	<key>geopackage.connection_pool.check_connections_warning_time</key>
	<string>300</string>
	<key>geopackage.connection_pool.maintain_stack_traces</key>
	<string>true</string>
	<key>geopackage.number_feature_tiles.text_font</key>
	<string>Helvetica</string>
	<key>geopackage.number_feature_tiles.text_font_size</key>
	<string>7.0</string>
	<key>geopackage.number_feature_tiles.text_color</key>
	<dict>
		<key>white</key>
		<string>1</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<key>geopackage.number_feature_tiles.draw_circle</key>
	<string>true</string>
	<key>geopackage.number_feature_tiles.circle_color</key>
	<dict>
		<key>white</key>
		<string>0</string>
		<key>alpha</key>
		<string>.25098</string>
	</dict>
	<key>geopackage.number_feature_tiles.circle_stroke_width</key>
	<string>5.0</string>
	<key>geopackage.number_feature_tiles.fill_circle</key>
	<string>true</string>
	<key>geopackage.number_feature_tiles.circle_fill_color</key>
	<dict>
		<key>white</key>
		<string>0</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<key>geopackage.number_feature_tiles.draw_tile_border</key>
	<string>true</string>
	<key>geopackage.number_feature_tiles.tile_border_color</key>
	<dict>
		<key>white</key>
		<string>0</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<key>geopackage.number_feature_tiles.tile_border_stroke_width</key>
	<string>5.0</string>
	<key>geopackage.number_feature_tiles.fill_tile</key>
	<string>true</string>
	<key>geopackage.number_feature_tiles.tile_fill_color</key>
	<dict>
		<key>white</key>
		<string>0</string>
		<key>alpha</key>
		<string>.062745</string>
	</dict>
	<key>geopackage.number_feature_tiles.circle_padding_percentage</key>
	<string>.1</string>
	<key>geopackage.number_feature_tiles.draw_unindexed_tiles</key>
	<string>true</string>
	<key>geopackage.number_feature_tiles.unindexed_text</key>
	<string>?</string>
</dict>
</plist>
