<!--
 Projections with no authority
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Undefined Cartesian -->
    <key>-1</key>
    <string>+proj=longlat +datum=WGS84 +no_defs</string>
    <!-- Undefined Geographic -->
    <key>0</key>
    <string>+proj=longlat +datum=WGS84 +no_defs</string>
</dict>
</plist>
